<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pølse Projekt</title>
</head>
<body>
    <h1>Velkommen til! - Her kan du få pølser fra hele verden</h1>

    <h3>Her er et overblik over vores pølser:</h3>
    <button onclick="createNewProduct()">Opret ny Pølse</button>
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Kategori</th>
            <th>Land</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody id="products-tbody">

        </tbody>
    </table>

    <script src="index.js"></script>
</body>
</html>